<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd" throwOnError="true">
  </fosol.diagnostics>
</configuration>