<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd">
    <trace>
      <listeners>
        <add name="test" type="Fosol.Diagnostics.Listeners.UnitTestListener, Fosol.Diagnostics">
          <filters>
            <add name="source" type="Fosol.Diagnostics.Filters.TagFilter, Fosol.Diagnostics">
              <set name="Key" value="Source"/>
              <set name="Value" value="UnitTest"/>
            </add>
          </filters>
        </add>
      </listeners>
    </trace>
  </fosol.diagnostics>
</configuration>