<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticsSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics>
    <sharedListeners>
      <add name="console" type="Fosol.Diagnostics.Listeners.ConsoleListener, Fosol.Diagnostics" format="{source}: {message}"/>
    </sharedListeners>

    <sources>
      <add name="Fosol.Diagnostics.TestConsole">
        <listeners>
          <add name="console"/>
        </listeners>
      </add>
    </sources>
  </fosol.diagnostics>
  
</configuration>