<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticsSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>
  
  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd">
    <sharedFilters>
      <add name="level" type="Fosol.Diagnostics.Filters.LevelFilter, Fosol.Diagnostics">
        <settings>
          <add name="Level" value="Start"/>
        </settings>
      </add>
      <add name="debug" type="Fosol.Diagnostics.Filters.EventTypeFilter, Fosol.Diagnostics">
        <settings>
          <add name="EventType" value="Debug"/>
        </settings>
      </add>
    </sharedFilters>
    
    <sharedListeners>
      <add name="console" type="Fosol.Diagnostics.Listeners.ColoredConsoleListener, Fosol.Diagnostics">
        <initialize>
          <add name="UseErrorStream" value="false"/>
        </initialize>
        <settings>
          <add name="BackgroundColor" value="Black"/>
          <add name="Format" value="{type} [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
        </settings>
      </add>
      <add name="file" type="Fosol.Diagnostics.Listeners.TextFileListener, Fosol.Diagnostics">
        <settings>
          <add name="FileName" value="{thread?k=ManagedThreadId}_{datetime?f=ddd}.TestConsole.log"/>
          <add name="StartFormat" value="==========================================={newline}{type}: [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
          <add name="StopFormat" value="{type}: [{thread?k=Id}] {source}: {datetime}: {message}{newline}==========================================={newline}"/>
          <add name="Format" value="{type} [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
          <add name="ArchiveAboveSize" value="1048576"/>
          <add name="ArchiveFileName" value="archive.TestConsole.log"/>
          <add name="AutoFlush" value="BufferFull"/>
        </settings>
      </add>
      <add name="db" type="Fosol.Diagnostics.Listeners.DatabaseListener, Fosol.Diagnostics">
        <settings>
          <add name="ProviderName" value="System.Data.SqlClient"/>
          <add name="ConnectionString" value="test"/>
          <add name="CommandText" value="INSERT INTO dbo.Test VALUES ({@Id?value={type}}})"/>
        </settings>
      </add>
    </sharedListeners>

    <sources>
      <add name="Fosol.Diagnostics.TextConsole">
        <listeners>
          <add name="console"/>
        </listeners>
      </add>
    </sources>
    
    <trace autoFlush="false" flushOnExit="true">
      <listeners>
        <!--<clear/>-->
        <add name="console"/>
        <add name="file"/>
        <!--<add name="db"/>-->
      </listeners>
    </trace>
  </fosol.diagnostics>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
