<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticsSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd">
    <!--<filters>
      <add name="debug" type="Fosol.Diagnostics.Filters.LevelFilter, Fosol.Diagnostics">
        <args>
          <add name="Level" value="Debug"/>
        </args>
      </add>
    </filters>-->
    
    <sharedListeners>
      <add name="console" type="Fosol.Diagnostics.Listeners.ColoredConsoleListener, Fosol.Diagnostics">
        <initialize>
          <add name="useErrorStream" value="false"/>
        </initialize>
        <settings>
          <add name="backgroundColor" value="Black"/>
        </settings>
        <!--<filter name="debug" />-->
      </add>
    </sharedListeners>

    <sources>
      <add name="Fosol.Diagnostics.TextConsole">
        <listeners>
          <add name="console"/>
        </listeners>
      </add>
    </sources>
    
    <trace autoFlush="false" autoRefresh="true">
      <listeners>
        <add name="console"/>
      </listeners>
    </trace>
  </fosol.diagnostics>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
