<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd">
    <!-- sharedFilters provide a way to configure filters in one place while using them in multiple listeners. -->
    <sharedFilters>
      <add name="level" type="Fosol.Diagnostics.Filters.LevelFilter, Fosol.Diagnostics" condition="And">
        <set name="Level" value="Start,Stop"/>
      </add>
      <add name="info" type="Fosol.Diagnostics.Filters.LevelFilter, Fosol.Diagnostics" condition="Or">
        <set name="Level" value="Information"/>
      </add>
    </sharedFilters>

    <!-- sharedListeners provide a way to configure base default listeners in one place while allowing them to be extended within the trace configuration section. -->
    <sharedListeners>
      <add name="console" type="Fosol.Diagnostics.Listeners.ConsoleListener, Fosol.Diagnostics">
        <filters>
          <add name="level"/>
          <add name="info"/>
        </filters>
        <set name="UseErrorStream" value="false"/>
        <set name="BackgroundColor" value="Black"/>
        <set name="Format" value="{level} [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
      </add>
    </sharedListeners>

    <!-- Configure what TraceEvent messages are heard. -->
    <trace autoFlush="false" flushOnExit="false">
      <!-- Configure and initialize each TraceListener that will hear TraceEvent messages. -->
      <listeners>
        <add name="console"/>
      </listeners>
    </trace>
  </fosol.diagnostics>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
