<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fosol.diagnostics" type="Fosol.Diagnostics.Configuration.DiagnosticSection, Fosol.Diagnostics" requirePermission="false"/>
  </configSections>

  <fosol.diagnostics xmlns="http://diagnostics.fosol.ca/Fosol.Diagnostics.xsd" throwOnError="false">
    <!-- sharedFilters provide a way to configure filters in one place while using them in multiple listeners. -->
    <sharedFilters>
      <add name="level" type="Fosol.Diagnostics.Filters.LevelFilter, Fosol.Diagnostics" condition="And">
        <set name="Level" value="Debug"/>
      </add>
    </sharedFilters>

    <!-- sharedListeners provide a way to configure base default listeners in one place while allowing them to be extended within the trace configuration section. -->
    <sharedListeners>
      <add name="console" type="Fosol.Diagnostics.Listeners.ColorConsoleListener, Fosol.Diagnostics">
        <filters>
          <add name="level"/>
        </filters>
        <constructor>
          <set name="UseErrorStream" value="false"/>
        </constructor>
        <set name="BackgroundColor" value="Black"/>
        <set name="Format" value="{level} [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
        <set name="HeaderFormat" value="-------------------------------{newline}"/>
        <set name="FooterFormat" value="-------------------------------{newline}"/>
      </add>
      <add name="file" type="Fosol.Diagnostics.Listeners.TextFileListener, Fosol.Diagnostics">
        <constructor>
          <set name="Filename" value="{datetime?format=yyyy.MM.dd}.fosol.diagnostics.log"/>
        </constructor>
        <set name="Format" value="{level} [{thread?k=Id}] {source}: {datetime}: {message}{newline}"/>
        <set name="HeaderFormat" value="-------------------------------{newline}"/>
        <set name="FooterFormat" value="-------------------------------{newline}"/>
      </add>
    </sharedListeners>

    <!-- Configure what TraceEvent messages are heard. -->
    <trace autoFlush="false" flushOnExit="true">
      <!-- Configure and initialize each TraceListener that will hear TraceEvent messages. -->
      <listeners>
        <add name="console"/>
        <add name="file"/>
      </listeners>
    </trace>
  </fosol.diagnostics>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
